.heading {
  text-align: center;
  margin: 0;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.hover {
  background-color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}
