.heading {
  text-align: center;
}

.grid-container {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.hover {
  background-color: black;
}

#reset {
  display: grid;
  margin: 2rem auto;
}
